/*
MEDIA QUERY MANAGER

0-600px phone
600-900px tablet portrait
900-1200px tablet landscape
1200-1800 normal styles (desktop first)
1800px +  big desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px
*/
@keyframes pulse-monster {
  0% {
    background-color: #a927f5;
    color: #fff; }
  100% {
    background-color: #e9dfdf;
    color: #292a2d; } }

@keyframes pulse-player {
  0% {
    background-color: #ff0062;
    color: #fff; }
  100% {
    background-color: #e9dfdf;
    color: #292a2d; } }

.btn {
  font-family: "Bangers", cursive;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  background: #e9dfdf;
  border: 1px solid #a3a0a0;
  border-radius: 3px;
  color: #292a2d;
  padding: 0.6rem 2rem;
  margin: 0.1rem;
  box-shadow: 2px 2px 5px rgba(163, 160, 160, 0.55); }
  .btn--active {
    padding: .5rem;
    color: white;
    background: #ff0062;
    cursor: pointer;
    border: 1px solid #ff0062;
    border-radius: 3px; }
    .btn--active span {
      background-color: #a927f5;
      margin-left: 0.5rem;
      padding: 0.3rem;
      border-radius: 6px;
      border: 1px solid #fff;
      border-radius: 6px;
      box-shadow: 1px 0px 20px rgba(255, 255, 255, 0.5); }
    .btn--active:hover, .btn--active:active {
      background: #a927f5;
      border: 1px solid #292a2d; }
      .btn--active:hover span, .btn--active:active span {
        border: 1px solid #292a2d;
        border-radius: 6px; }
    .btn--active--alt {
      background-color: #a927f5;
      border: 1px solid #a927f5; }
      .btn--active--alt span {
        background-color: #ff0062; }
      .btn--active--alt:hover, .btn--active--alt:active {
        background: #ff0062;
        border: 1px solid #292a2d; }

.settingsSelect {
  margin: 2rem 0 2rem 0; }
  .settingsSelect label {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    min-width: 5.5rem;
    display: inline-block; }
  .settingsSelect input[type="radio"] {
    opacity: 0; }
  .settingsSelect input[type="radio"]:checked + label {
    background: #a927f5;
    border: 1px solid #292a2d; }

.click-me {
  transition: all 2s ease-out;
  background: #a927f5 !important;
  border-color: #a927f5 !important;
  transform: scale(1.05); }
  .click-me:hover {
    box-shadow: 0 2px 5px rgba(163, 160, 160, 0.15); }

input {
  border: 1px solid #a3a0a0;
  border-radius: 6px;
  padding: 0.3rem;
  margin: 1px;
  text-align: center;
  font-size: 1.3rem;
  font-family: inherit;
  letter-spacing: 0.1rem; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 42, 45, 0.8);
  z-index: 10; }

#modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 11;
  /* 1px higher than the overlay layer */ }

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 2rem;
  color: #ff0062;
  border: 1px solid #ff0062;
  border-radius: 3px; }

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(163, 160, 160, 0.15) inset; }

progress[value]::-webkit-progress-value {
  background-color: #ff0062;
  transition: all 0.2s ease-out; }

progress[value]::-moz-progress-bar {
  background-color: #ff0062;
  transition: all 0.2s ease-out; }

.mana-bar[value]::-webkit-progress-value {
  background-color: #a927f5;
  transition: all 0.2s ease-out; }

.mana-bar[value]::-moz-progress-bar {
  background-color: #a927f5;
  transition: all 0.2s ease-out; }

::-webkit-scrollbar {
  width: 1rem; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a3a0a0;
  border-radius: 6px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e9dfdf;
  border-radius: 6px;
  border: 1px solid #a3a0a0; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d6a6a; }

html {
  font-family: "Bangers", cursive; }

body {
  background: #292a2d;
  position: relative; }

h1 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  margin: 1rem; }

h2 {
  font-size: 1.5rem;
  margin: 1rem 0.5rem;
  letter-spacing: 0.1rem; }

p {
  font-size: 1.1rem; }

#monster-health-label {
  margin: 0rem 0.5rem; }

.close-icon {
  display: block;
  float: right;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-width: 3px;
  border-style: solid;
  border-color: #ff0062;
  border-radius: 100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%) #ff0062;
  transition: all 0.3s ease; }

.hp-input-label {
  display: inline; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.mana-bar {
  color: #a927f5;
  border: 1px solid #a927f5; }

section,
header,
.section {
  margin: 1rem auto;
  width: 43rem;
  text-align: center;
  border-radius: 10px;
  padding: 0.8rem;
  box-shadow: 0 2px 8px rgba(163, 160, 160, 0.25);
  background: white; }

header {
  background-color: #a927f5;
  color: #fff;
  font-weight: 1000; }

#game-status {
  color: #fff; }

#controls {
  display: flex;
  flex-direction: column; }

#startGameBtn {
  display: block;
  margin: 1rem auto;
  padding: 1.1rem;
  font-size: 1.8rem;
  border-radius: 6px; }

#validationFailed {
  font-weight: bold; }

#logs {
  height: 17rem;
  overflow-y: auto;
  /*padding: 0rem auto;*/
  letter-spacing: 0.04rem; }

#logs ul {
  padding: 0; }

#logs ul li {
  list-style: none;
  border: 1px solid #a3a0a0;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 1px; }

.hidden {
  display: none !important; }

#hint {
  display: none; }

.system {
  background-color: #e9dfdf; }

.player {
  color: #ff0062; }

.player-bg {
  background-color: #ff0062; }

.monster {
  color: #a927f5; }

.monster-special {
  animation: pulse-monster 5s;
  background-color: #e9dfdf; }

.player-special {
  animation: pulse-player 5s;
  background-color: #e9dfdf; }

.monster-bg {
  background-color: #a927f5; }
