//COLORS
//$color-primary: #ff0062;
//$color-secondary: #a927f5;
$color-primary: #f83352;
$color-secondary: #427af4;


$color-grey-light: #eee;
$color-grey: #e9dfdf;
$color-grey-dark: #a3a0a0;
$color-grey-dark-2: #6d6a6a;

$color-white: #fff;
$color-black: #292a2d;

//FONT
$default-font-size: 1.9rem;
$button-font-size: 1.7rem;
