//COLORS
$color-primary: #ff0062;
//$color-primary-dark: ;

$color-secondary: #a927f5;


$color-grey-light: #eee;
$color-grey: #e9dfdf;
$color-grey-dark: #a3a0a0;
$color-grey-dark-2: #6d6a6a;

$color-white: #fff;
$color-black: #292a2d;

//FONT
$default-font-size: 1.6rem;
$button-font-size: 1.2rem;
