body {
  font-family: "Bangers", cursive;
}


.heading-primary {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 4.5rem;
  margin: 1rem;

  @include respond(phone){
    font-size: 3rem;
  }
}

.heading-secondary {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0.5rem;
  letter-spacing: 0.1rem;
}

.paragraph {
  font-size: $default-font-size;
  line-height: 1.2;
}

#monster-health-label {
  margin: 0rem 0.5rem;
}

header {
  color: $color-white;
  font-weight: 1000;
}

#game-status {
  color: $color-white;
}


#validationFailed {
  font-weight: bold;
}

.list ul li {
  font-size: 1.8rem;
  letter-spacing: 0.04rem;
}


.player {
  color: $color-primary;
}

.monster {
  color: $color-secondary;
}